	/* CSS Syntax down below and such */ 
        h1 {
		color: lightgreen;
		font-size: 50pt;
		}
				body {
						background-image: url('Images/sky.png');
				}
				
				.top_header { 
					width: 16%;
					font-size: 72px;
					color: Gold;
					/* line width, line type, color */
					border: 2px solid gold;
					margin-left: 215px;
					background-color: #FFFFFFAA;
					
			}
			
				.heavy_border {
					/* line width, line type, color */
					border: 5px dashed green;
					margin: 25px;
					background-color: white;
			}
			
				
			
			
				P {
					color: green; 
					font-family: monospace;
					font-size: 14px;
					background-color: white;
					border : 5px dashed yellow;
					margin: 5px;
					border-radius: 25px 0px 25px 0px;
					width: 500px;
						margin-left: 70px;
				}
				
				.flex_container {
					display: flex;
					background color: #CCCCCC;
					direction: column;
					background-color: #FFFFFFAA;
					border : 5px dashed yellow;
					margin: 5px;
					border-radius: 25px 0px 25px 0px;
					width: 500px;
						margin-left: 70px;
				}
				
				.flex_container div {
					display: flex;
					background-color:#DDDDDD;
					padding: 5px;
					margin: 5px;
					Border: 1px solid black;

					}
				
				.flex_container3 {
					display: flex;
					background color: #CCCCCC;
					direction: column;
					background-color: white;
					border : 5px solid black;
					margin: 5px;
					border-radius: 25px 0px 25px 0px;
					width: 550px;
						margin-left: 70px;

				}
				
				
				.turtle_picture {
				width: 150px
				
				}
				
				table { 
					color: #000000;
					border: 2px solid #000000;
					padding: 5px;
				}
				
				tr {
					border: 2px solid #000000;
					background-color: #CDCDCD;
					padding: 5px;
				}
				
				th { 
					background-color: #999999;
					
				}
					
				.rounded {
					border : 5px dashed orange;
					margin: 5px;
					border-radius: 25px 0px 25px 0px;
					width: 300px;
					
				}
				
				.ball { 
				background-color: crimson;
				width: 100px;
				height: 100px;
				border-radius: 50%;
				border: 5px solid black;
				
				}
				
				.bg_image {
			background-image: url('Images/sky.png');
			
			
				}
				
